spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/wms-service
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update   # ??? dev ?????????, ??? prod ? validate
    show-sql: true
    properties:
      hibernate:
        jdbc:
          batch_size: 100
        format_sql: true
        order_inserts: true
        order_updates: true

  sql:
    init:
      mode: never
